<div class="task" *ngIf = "task">
  <p>{{task.name}}</p>
  <p>{{task.description}}</p>
  <div class="responsible">
    <p>{{task.responsiblePerson}}</p>
    <p>{{task.team.name}}</p>
  </div>
  <div class="buttons">
    <i
      class="fa-solid fa-arrow-up"
      *ngIf="task.backlogPosition !== 0"
      (click)="moveUp(this.task)"></i>
    <i
      class="fa-solid fa-arrow-down"
      *ngIf="task.backlogPosition !== 0"
      (click)="moveDown(this.task)"></i>
    <i
      class="fa-solid fa-arrow-right"
      *ngIf="task.boardPosition !== 4"
      (click)="moveToNext(this.task)"></i>
    <i class="fa-solid fa-pen-to-square" (click)="editTask(this.task)"></i>
    <i class="fa-solid fa-trash" (click)="deleteTask(this.task)"></i>
    <i
      class="fa-solid fa-arrow-rotate-left"
      *ngIf="task.deleted === true"
      (click)="returnTask(this.task)"></i>
    <i
      class="fa-regular fa-square-check"
      *ngIf="task.boardPosition === 4 && !checked"
      (click)="addToArchive(this.task)"></i>
    <i
      class="fa-solid fa-square-check"
      *ngIf="task.boardPosition === 4 && checked"
      (click)="outFromArchive(this.task)"></i>
  </div>
</div>
