<div *ngIf = "task">
  <p>{{task.name}}</p>
  <p>{{task.responsiblePerson}}</p>
  <p>{{task.team.name}}</p>
  <i class="fa-solid fa-arrow-up" (click)="moveUp(this.task)"></i>
  <i class="fa-solid fa-arrow-down" (click)="moveDown(this.task)"></i>
  <i class="fa-solid fa-arrow-right" (click)="moveToNext(this.task)"></i>
  <i class="fa-solid fa-pen-to-square" (click)="editTask(this.task)"></i>
  <i class="fa-solid fa-trash" (click)="deleteTask(this.task)"></i>
  <i class="fa-regular fa-square-check"></i>
  <i class="fa-solid fa-square-check"></i>
</div>
