:host {
  width: 25%;
}

.head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  margin: 10px;
  box-sizing: border-box;

  h4 {
    margin-top: 4px !important;
    margin-bottom: 4px !important;
  }
}

.tasks {
  padding: 0px 15px;
  background-color: #7A2323;
  box-sizing:border-box;
  height: 77vh;
  overflow-y: auto;
  border-radius: 20px;
}

button {
  width: 100%;
}
