:host {
  box-sizing: border-box;
  width: 70%;
}

#app {
  display: flex;
  flex-direction: row;
  width: 100%;
}

#details {
  padding-top: 90px;
}

.wrapper {
  height: 77vh;
}

.head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  margin: 10px;
  box-sizing: border-box;
}

.tasks {
  background-color: #201E1E;
  padding: 0px 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-height: 100%;
  overflow-y: auto;
  border-radius: 20px;
  height: 100%;
  color: #7A2323;
}

mat-form-field{
  width: 100%;
  padding: 0px 15px;
  background-color:  #FFE2C2;
  box-sizing:border-box;
  overflow-y: auto;
  border-radius: 20px;
  border: 5px solid #7A2323;
}

.mat-table{
  background-color: #FFE2C2;
  border: 5px solid #7A2323 ;
  padding: 0px 15px;
  border-radius: 20px;
  width: 100%;
}

.mat-column-name{
  width: 20%;
}
.mat-column-description {
  width: 30%
}
.mat-column-responsiblePerson{
  width: 40%;
}
.mat-column-team{
  width: 10%;
}

button {
  box-sizing: border-box;
}
