<app-navbar></app-navbar>
<div id="app">
  <app-archive (chosenGroup)="showGroup($event)"></app-archive>
  <div id="details">
    <form [formGroup]="ArchiveForm">
      <mat-form-field appearance="fill">
        <mat-label>Naziv grupe</mat-label>
        <input formControlName="name" matInput>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Opis</mat-label>
        <input formControlName="description" matInput>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Projekat</mat-label>
        <input formControlName="project" matInput>
      </mat-form-field>
    </form>
    <br>
    <div>
      <table mat-table [dataSource]="data" class="mat-elevation-z8">

        <ng-container matColumnDef="name" class="column">
          <th mat-header-cell *matHeaderCellDef> Naziv</th>
          <td mat-cell *matCellDef="let archivedTask"> {{archivedTask.name}} </td>
        </ng-container>

        <ng-container matColumnDef="description" class="column">
          <th mat-header-cell *matHeaderCellDef> Opis</th>
          <td mat-cell *matCellDef="let archivedTask"> {{archivedTask.description}} </td>
        </ng-container>

        <ng-container matColumnDef="responsiblePerson" class="column">
          <th mat-header-cell *matHeaderCellDef> Odgovorna osoba</th>
          <td mat-cell *matCellDef="let archivedTask"> {{archivedTask.responsiblePerson}} </td>
        </ng-container>

        <ng-container matColumnDef="team" class="column">
          <th mat-header-cell *matHeaderCellDef> Tim</th>
          <td mat-cell *matCellDef="let archivedTask"> {{archivedTask.team}} </td>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
      </table>
    </div>
  </div>
</div>
