.tasks {
  padding: 0px 15px;
  background-color:  #FFE2C2;
  box-sizing:border-box;
  height: 85vh;
  overflow-y: auto;
  border-radius: 20px;
  border: 5px solid #7A2323;
}
::ng-deep .mat-dialog-container{
  background-color: #FFE2C2 !important;
  border-left: 1px dashed #FFE2C2;
  //display: flex;
  flex-direction: row;
  border-radius: 20px;
}

