<div class="content">
  <h4 mat-dialog-title>Novi član</h4>
  <div mat-dialog-content>
    <form [formGroup]="UserForm">
      <mat-form-field appearance="fill">
        <mat-label>Ime</mat-label>
        <input formControlName="name" matInput>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Username</mat-label>
        <input formControlName="username" matInput>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Pozicija</mat-label>
        <mat-select formControlName="position" [(value)]="selectedPosition">
          <mat-option *ngFor="let position of positions" [value]="position.positionId"
                      (click)="selectPosition(position)">
            {{position.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </form>
  </div>
  <div>
    <button mat-raised-button color="accent" (click)="saveUser()">Sacuvaj</button>
  </div>
</div>
